1. Write a Python program to accept a string value from the user and display
the count of each character in that string. Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [ ]:
string = input("Enter a string value: ")
count = {}
for i in string:
  if i in count:
    count[i]+= 1
  else:
    count[i]=1
print(count)#output = ", ".join(f"{i}={count}" for i,count in count())

Enter a string value: assembly
{'a': 1, 's': 2, 'e': 1, 'm': 1, 'b': 1, 'l': 1, 'y': 1}

2. . Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 34

In [ ]:
def large(a,b,c):
  if a>b and a>c:
    return a
  elif b>a and b>c:
    return b
  else:
    return c
x=int(input("Enter the first value:"))
y=int(input("Second value:"))
z=int(input("Third value:"))
print(f"Largest:{large(x,y,z)}")

Enter the first value:34
Second value:12
Third value:7
Largest:34

3. Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8

In [ ]:
def exponent(base,exp):
  output=base**exp
  return output
n=int(input("Enter the base:"))
m=int(input("Enter the exponent:"))
print(f"{n} raise to {m} is: {exponent(n,m)}")

Enter the base:2
Enter the exponent:3
2 raise to 3 is: 8

4. Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.

In [44]:
def cu(x):
  sum=0
  for i in range(n):
    cube=i*i*i
    sum=cube+sum
  return sum
n=int(input("Enter the value:"))
print(sum)

Enter the value:4
36

5. Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz

In [ ]:
n=int(input("Enter a number from 1 to 10:"))
for i in range(1, n+1):
    if i % 2 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 2 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

Enter a number from 1 to 10:10
1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

6. Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [ ]:
def most_item(list):
    return max(set(list), key=list.count)
n=int(input("Enter the number of elements:"))
list=[]
for i in range(n):
  value=int(input("Enter the value:"))
  list.append(value)
print(most_item(list))

Enter the number of elements:6
Enter the value:2
Enter the value:3
Enter the value:4
Enter the value:2
Enter the value:5
Enter the value:2
2

7. Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15

In [ ]:
n=int(input("Enter the number of elements:"))
list=[]
sum=0
for i in range(n):
  value=int(input("Enter the value:"))
  list.append(value)
for i in list:
  sq=i*i
  sum=sum+sq
print(list)
print(f"sum={sum}")

Enter the number of elements:4
Enter the value:2
Enter the value:1
Enter the value:3
Enter the value:1
[2, 1, 3, 1]
sum=15

8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd

In [ ]:
for i in range(1, 16):
    if i % 2 == 0:
        print(f"{i}-even")
    else:
        print(f"{i}-odd")

1-odd
2-even
3-odd
4-even
5-odd
6-even
7-odd
8-even
9-odd
10-even
11-odd
12-even
13-odd
14-even
15-odd

9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5

In [ ]:
print("Converter\n \n1.Celsius to Fahrenheit.\n2.Fahrenheit to Celsius.")
option=int(input("\n Select 1 or 2:"))
if option==1:
  t=int(input("Enter temperature in Celsius:"))
  result=t*(9.0/5.0)+32
  print(f"Temperature in Fahrenheit={result}F")
elif option==2:
  t=int(input("Enter temperature in Fahrenheit:"))
  result=(t-32)*(5.0/9.0)
  print(f"Temperature in Celsius={result}C")
else:
  print("invalid option")

Converter

1.Celsius to Fahrenheit.
2.Fahrenheit to Celsius.

 Select 1 or 2:1
Enter temperature in Celsius:37
Temperature in Fahrenheit=98.60000000000001F

10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6

In [ ]:
def factorial(n):
    if n<0:
        return "Factorial is not defined for negative numbers."
    elif n==0 or n==1:
        return 1
    else:
        result=1
        for i in range(2,n+1):
            result*=i
        return result
x=int(input("Enter the value:"))
print(f"Factorial of {x} is {factorial(x)}")

Enter the value:3
Factorial of 3 is 6